<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>Angular Noms Prenoms</title>
  <script type="text/javascript" src=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 
<script type="text/javascript" src="scriptRecettes.js"></script>
<script type="text/javascript" src="scriptRecettesDate.js"></script>
<script type="text/javascript" src="scriptRecettesGestionnaire.js"></script>
<script type="text/javascript" src="scriptRecettesPlat.js"></script>
<script type="text/javascript" src="scriptRecettesRepas.js"></script>



<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link rel="stylesheet" type="text/css" href="stylesRecettes.css">
</head>

<body>
    <div ng-app="app">
        <div ng-controller="myController">
            		
                   <div ng-class="{{colorDate}}"> 
                        


                          <!--
                           <label for="dateSelectM">Date month</label>
                           <select name="dateSelectM" ng-model="dateeM">
                                <option ng-repeat="m in [] | range:12" value="{{$index}}">{{$index}}</option>
                            </select> 
                            -->
                       


                           <label  for="dateSelectD">Date jour</label>
                           <select name="dateSelectD" ng-model="dateeD">
                                <option ng-repeat="j in array31()" value="{{$index+1}}">{{$index+1}}</option>
                           </select> 
                            <button ng-click="dateeFunc()">Valider Date</button>

                            <div ng-bind="datee"></div>  
                    </div>



                  

        </div>
    </div>

</body>
</html>
