<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>Angular Recettes</title>
  <script type="text/javascript" src=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 
<script type="text/javascript" src="scriptRecettes.js"></script>
<script type="text/javascript" src="scriptRecettesDate.js"></script>
<script type="text/javascript" src="scriptRecettesGestionnaire.js"></script>
<script type="text/javascript" src="scriptRecettesPlat.js"></script>



<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link rel="stylesheet" type="text/css" href="stylesRecettes.css">
</head>

<body>
    <div ng-app="app">
        <div ng-controller="myController">
            		
                   <div ng-class="dateColorClass"> 
                        


                          <!--
                           <label for="dateSelectM">Date month</label>
                           <select name="dateSelectM" ng-model="dateeM">
                                <option ng-repeat="m in [] | range:12" value="{{$index}}">{{$index}}</option>
                            </select> 
                            -->
                       



                           <label  for="dateSelectY">Annee</label>
                           <select name="dateSelectY" ng-model="dateeY">
                                <option ng-repeat="y in array10()" value="{{y}}">{{y}}</option>
                           </select> 








                           <label  for="dateSelectM">Mois</label>
                           <select name="dateSelectM" ng-model="dateeM">
                                <option ng-repeat="m in array12()" value="{{$index+1}}">{{$index+1}}</option>
                           </select> 
                           





                           <label  for="dateSelectD">Date jour</label>
                           <select name="dateSelectD" ng-model="dateeD">
                                <option ng-repeat="j in array31()" value="{{$index+1}}">{{$index+1}}</option>
                           </select> 
                           
                          



                            <button ng-click="dateeFunc()">Valider Date</button>

                            <div ng-bind="datee">{{datee}}</div>  
                    </div>




                    <div  ng-show="showRepas">
                       <label for="repasChoice">Choix repas</label>
                        <select name="repasChoice" ng-model="repas">
                  
                          <option ng-repeat="r in g.repasList" value="{{r}}">{{r}}</option> 
                       
                          <!--option  value="petitDej">Petit Dejeuner</option>
                          <option  value="dej">Dejeuner</option>
                          <option  value="gouter">Gouter</option>
                          <option  value="diner">Diner</option-->
                        </select>
                
                       <button ng-click="repasFunc()">Valider repas</button>
                   </div>



                    <div  ng-show="showPlats" class="divPlats">
                        <label for="platChoice">Selectionner plat</label>
                        <select name="platChoice" ng-model="platChoice">
                            <option ng-repeat="plat in plats" value="{{$index+1}}">{{$index+1}}</option>
                        </select>
                        <button ng-click="platSelect()"> Choisir ce plat</button><BR>

                       <label for="platChoiceAdd">OU ajouter plat
                           <input type="text" name="platChoiceAdd" ng-model="platAjoute"
                           ng-minlength="3" ng-maxlength="10"  ng-click="ajouterRepas();">
                       </label>
                       <button ng-click="platCreate()">Valider plat</button>


                    </div>

                    <div  ng-show="showIngredientsModop">
                              <div id="ingredients">
                                  <div>
                                     <label for="ingredientChoiceChoose">Ingredient choisir
                                         <input type="text" name="ingredientChoiceChoose" ng-model="ingredientChoix"
                                         ng-minlength="3" ng-maxlength="10">
                                     </label>
                                     <button ng-click="ingredientsSelect()">Valider selection ingredient</button>
                                  </div>

                                   <div>
                                     <label for="ingredientChoiceAdd">Ingredients rajouter
                                         <input type="text" name="ingredientChoiceAdd" ng-model="ingredientCreate"
                                         ng-minlength="3" ng-maxlength="10">
                                     </label>
                                     <button ng-click="ingredientsCreate()">Valider creation</button>
                                  </div>
                              </div>


                          <div class="modop">
                                <label for="modopp">Mode operatoire
                                   <input type="text" name="modopp" ng-model="modopp"
                                 ng-minlength="3" ng-maxlength="10">
                                </label>
                                <button ng-click="createModeOp()">Modifier mode op</button>


                          </div>
                    </div>
                  

        </div>
    </div>

</body>
</html>
